Package: RegardsViewer
Version: 2.30.0
Architecture: amd64
Depends: libwebkit2gtk-4.0-dev, freeglut3-dev, libva-dev, libsndio-dev, liblzma-dev, libxml2-dev, libcurl4-openssl-dev, libopenexr-dev, libasound-dev, libxv-dev, libxtst-dev, libglew-dev, libturbojpeg-dev, libsdl2-dev, libssh-dev, mesa-common-dev, mesa-opencl-icd, libpoppler-dev, libpoppler-cpp-dev, libsane-dev
Maintainer: Figuinha Jacques
Section: Application
Priority: Optional
Installed-Size: 208000000
Description: RegardsViewer is a picture viewer and video player
