################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs/RegardsWxWidget/v15
/CxImage/x64
/Debug/x64
/libCompress/x64
/libExif/x64
/libEmail/x64
/libDialog/x64
/libDeepLearning/x64
/libDataStructure/x64
/libControl/x64
/libCompress/x64
/libOpenGL/x64
/libOpenCL/x64
/libMediaInfo/x64
/libIntro/x64
/libGeolocalisation/x64
/libFiltre/x64
/libSqlData/x64
/libScanner/x64
/libResource/x64
/libPrint/x64
/libPicture/x64
/libParameter/x64
/libSqlEngine/x64
/libWindowMain/x64
/libWindow/x64
/libViewer/x64
/libVideoThumbnail/x64
/libVideoFFMpeg/x64
/libUtility/x64
/libTheme/x64
/libSqlite/x64
/RegardsViewer/x64
/x64
/wxCheckTree/x64
/Otherlib/libbpg/Dllbpg/x64
/Otherlib/libbpg/libavcodec/x64
/Otherlib/libbpg/libavutil/x64
/Otherlib/libbpg/libbpg/x64
/Otherlib/libbpg/libgetopt/x64
/Otherlib/libJbig/x64
/Otherlib/libpoppler/x64
/Otherlib/libqpdf/x64
/Otherlib/poppler-cpp/x64
/Otherlib/RawSpeed/x64
/Otherlib/RegardsRaw/x64
/Otherlib/wxIA/x64
/Otherlib/wxPDFDoc/x64
/Otherlib/wxSVG/x64
/Otherlib/libheif/x64
