################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/libCompress/x64
/.vs
/ARM64/Debug
/CxImage/ARM64/Debug
/CxImage/x64/Debug
/libControl/ARM64/Debug
/libControl/x64/Debug
/libDeepLearning/ARM64/Debug
/libDeepLearning/x64/Debug
/libDialog/ARM64/Debug
/libDialog/x64/Debug
/libEmail/ARM64/Debug
/libEmail/x64/Debug
/libFiltre/ARM64/Debug
/libFiltre/x64/Debug
/libFiltreInterface/ARM64/Debug
/libGeolocalisation/ARM64/Debug
/libGeolocalisation/x64/Debug
/libOpenCL/ARM64/Debug
*.user
/libOpenCL/x64/Debug
/libOpenGL/ARM64/Debug
/libOpenGL/x64/Debug
/libParameter/ARM64/Debug
/libParameter/x64/Debug
/libPicture/ARM64/Debug
/libPicture/x64/Debug
/libResource/ARM64/Debug
/libResource/x64/Debug
/libScanner/ARM64/Debug
/libScanner/x64/Debug
/libSqlData/ARM64/Debug
/libSqlData/x64/Debug
/libSqlEngine/ARM64/Debug
/libSqlEngine/x64/Debug
/libTheme/ARM64/Debug
/libTheme/x64/Debug
/libUtility/ARM64/Debug
/libUtility/x64/Debug
/libViewer/ARM64/Debug
/libViewer/x64/Debug
/libWindow/ARM64/Debug
/libWindowMain/ARM64/Debug
/libWindow/x64/Debug
/libWindowMain/x64/Debug
/Otherlib/libavif/ARM64/Debug
/Otherlib/libavif/x64/Debug
/Otherlib/libbpg/Dllbpg/ARM64/Debug
/Otherlib/libbpg/Dllbpg/x64/Debug
/Otherlib/libbpg/libavcodec/ARM64/Debug
/Otherlib/libbpg/libavcodec/x64/Debug
/Otherlib/libbpg/libavutil/ARM64/Debug
/Otherlib/libbpg/libavutil/x64/Debug
/Otherlib/libbpg/libbpg/ARM64/Debug
/Otherlib/libbpg/libbpg/x64/Debug
/Otherlib/libbpg/libgetopt/ARM64/Debug
/Otherlib/libbpg/libgetopt/x64/Debug
/Otherlib/libffmpeg/ARM64/Debug
/Otherlib/libffmpeg/x64/Debug
/Otherlib/libheif/ARM64/Debug
/Otherlib/libheif/x64/Debug
/Otherlib/libJbig/ARM64/Debug
/Otherlib/libJbig/x64/Debug
/Otherlib/wxIA/ARM64/Debug
/Otherlib/wxIA/x64/Debug
/Otherlib/wxPDFDoc/ARM64/Debug
/Otherlib/wxPDFDoc/x64/Debug
/RegardsViewer/ARM64/Debug
/RegardsViewer/x64/Debug
/wxCheckTree/ARM64/Debug
/wxCheckTree/x64/Debug
/ARM64/Release
/CxImage/ARM64/Release
/libControl/ARM64/Release
/libDeepLearning/ARM64/Release
/libDialog/ARM64/Release
/libEmail/ARM64/Release
/libFiltre/ARM64/Release
/libFiltreInterface/ARM64/Release
/libGeolocalisation/ARM64/Release
/libOpenCL/ARM64/Release
/libOpenGL/ARM64/Release
/libParameter/ARM64/Release
/libPicture/ARM64/Release
/libResource/ARM64/Release
/libScanner/ARM64/Release
/libSqlData/ARM64/Release
/libSqlEngine/ARM64/Release
/libTheme/ARM64/Release
/libUtility/ARM64/Release
/libViewer/ARM64/Release
/libWindow/ARM64/Release
/libWindowMain/ARM64/Release
/Otherlib/libavif/ARM64/Release
/Otherlib/libbpg/Dllbpg/ARM64/Release
/Otherlib/libbpg/libavcodec/ARM64/Release
/Otherlib/libbpg/libavutil/ARM64/Release
/Otherlib/libbpg/libbpg/ARM64/Release
/Otherlib/libbpg/libgetopt/ARM64/Release
/Otherlib/libffmpeg/ARM64/Release
/Otherlib/libheif/ARM64/Release
/Otherlib/libJbig/ARM64/Release
/Otherlib/wxIA/ARM64/Release
/Otherlib/wxPDFDoc/ARM64/Release
/RegardsViewer/ARM64/Release
/wxCheckTree/ARM64/Release
/include/arm64/Release
/RegardsViewer/package/Prerequisites
/RegardsViewer/package/RegardsViewer2_arm.exe
/include/arm64/Debug
/InsertResource/ARM64/Debug
/InsertResource/ARM64/Release
/libPicture/bak
/libControl/x64/Release
/include/header_release.pch
/include/header_debug.pch
/CxImage/x64/Release
/libDeepLearning/x64/Release
/libDialog/x64/Release
/libEmail/x64/Release
/libFiltre/x64/Release
/libFiltreInterface/x64/Debug
/libGeolocalisation/x64/Release
/libOpenCL/x64/Release
/libOpenCLEngine/x64
/libOpenGL/x64/Release
/libParameter/x64/Release
/libPicture/x64/Release
/libResource/x64/Release
/libScanner/x64/Release
/libSqlData/x64/Release
/libSqlEngine/x64/Release
/libTheme/x64/Release
/libUtility/x64/Release
/libViewer/x64/Release
/libWindow/x64/Release
/libWindowMain/x64/Release
/Otherlib/libavif/x64/Release
/Otherlib/libbpg/Dllbpg/x64/Release
/Otherlib/libbpg/libavcodec/x64/Release
/Otherlib/libbpg/libavutil/x64/Release
/Otherlib/libbpg/libbpg/x64/Release
/Otherlib/libbpg/libgetopt/x64/Release
/Otherlib/libffmpeg/x64/Release
/Otherlib/libheif/x64/Release
/Otherlib/libheif/Release
/Otherlib/libheif/Debug
/Otherlib/libJbig/x64/Release
/Otherlib/wxIA/x64/Release
/Otherlib/wxPDFDoc/x64/Release
/RegardsViewer/x64/Release
/RegardsViewer/package/.vs/RegardsViewer2Setup/v17
/wxCheckTree/x64/Release
/x64
/include/x64/Release
/InsertResource/x64/Release
/libFiltreInterface/x64/Release
/InsertResource/x64/Debug
/include/x64/Debug
/GPUCache
/RegardsViewer/package/RegardsViewer2Setup.exe
/RegardsViewer/VTune Profiler Results/RegardsViewer
/libextern/rawspeed-1.0/.vs/RawSpeed
/libextern/rawspeed-1.0/RawSpeed/x64/Debug
/libextern/rawspeed-1.0/RawSpeed/x64/Release
/libextern/rawspeed-3.0/.ci
/libextern/rawspeed-3.0/.github
/libextern/rawspeed-3.0/RawSpeed3/x64/Release
/libextern/vcpkg/.github
/libextern/LibRaw-0.21.1/autom4te.cache
/libextern/LibRaw-0.21.1/buildfiles/debug-x86_64
/libextern/LibRaw-0.21.1/buildfiles/release-x86_64
/libextern/LibRaw-0.21.1/buildfiles/x64
/libextern/rawspeed-3.0/RawSpeed3/.vs/RawSpeed3/v17
/libextern/rawspeed-3.0/RawSpeed3/x64/Debug
/libConvertVideo/x64/Release
/libVideoConverter/x64/Release
/RegardsPDF/x64/Release
/RegardsVideoConverter/x64/Release
/libVideoConverter/x64/Debug
/RegardsPDF/x64/Debug
/RegardsVideoConverter/x64/Debug
/RegardsPDF/ARM64/Release
/RegardsVideoConverter/ARM64/Release
/libVideoConverter/ARM64/Release
/libVideoConverter/ARM64/Debug
/RegardsPDF/ARM64/Debug
/RegardsVideoConverter/ARM64/Debug
/libVideoThumbnail/x64/Release
