################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs/RegardsWxWidget/v15
/CxImage/x64
/Debug/x64
/libCompress/x64
/libExif/x64
/libEmail/x64
/libDialog/x64
/libDeepLearning/x64
/libDataStructure/x64
/libControl/x64
/libCompress/x64
/libOpenGL/x64
/libOpenCL/x64
/libMediaInfo/x64
/libIntro/x64
/libGeolocalisation/x64
/libFiltre/x64
/libSqlData/x64
/libScanner/x64
/libResource/x64
/libPrint/x64
/libPicture/x64
/libParameter/x64
/libSqlEngine/x64
/libWindowMain/x64
/libWindow/x64
/libViewer/x64
/libVideoThumbnail/x64
/libVideoFFMpeg/x64
/libUtility/x64
/libTheme/x64
/libSqlite/x64
/RegardsViewer/x64
/x64
/wxCheckTree/x64
/Otherlib/libbpg/Dllbpg/x64
/Otherlib/libbpg/libavcodec/x64
/Otherlib/libbpg/libavutil/x64
/Otherlib/libbpg/libbpg/x64
/Otherlib/libbpg/libgetopt/x64
/Otherlib/libJbig/x64
/Otherlib/libpoppler/x64
/Otherlib/libqpdf/x64
/Otherlib/poppler-cpp/x64
/Otherlib/RawSpeed/x64
/Otherlib/RegardsRaw/x64
/Otherlib/wxIA/x64
/Otherlib/wxPDFDoc/x64
/Otherlib/wxSVG/x64
/Otherlib/libheif/x64
/Otherlib/libavif/x64
/libextern/exiv2-0.26/exiv2lib/build/x64
/libextern/exiv2-0.26/exiv2lib/x64
/libextern/exiv2-0.26/xmpsdk/build/x64
/libextern/exiv2-0.26/xmpsdk/x64/Debug
/libextern/glew-2.1.0/x64
/libextern/exiv2-0.26/xmpsdk/x64/Release
/libextern/libde265-master/x64
/libextern/libjpeg/x64
/libextern/libpng/x64
/libextern/MediaInfo_DLL_GNU_FromSource/MediaInfoLib
/libextern/MediaInfo_DLL_GNU_FromSource
/libextern/opencv/opencv-4.3.0
/libextern/opencv/opencv_contrib-4.3.0
/libextern/poppler_windows-master/build
/libextern/SDL2-2.0.5/VisualC/SDL/x64
/libextern/wxWidgets-master/build/msw
/libextern/wxWidgets-master/lib/vc_x64_lib/mswu/wx
/libextern/wxWidgets-master/lib/vc_x64_lib/mswud/wx
/libextern/wxWidgets-master/lib/vc_x64_lib
/libextern/x265_2.5/build/vc15-x86_64
/libextern/zlib/x64
/libextern/exiv2-0.27.3/contrib/vs2019/solution/.vs/exiv2/v15
/libextern/exiv2-0.27.3/contrib/vs2019/solution/src/x64
/libextern/exiv2-0.27.3/contrib/vs2019/solution/xmpsdk/x64
/InsertResource/x64
/RegardsViewer/My Inspector Results - RegardsViewer
/Otherlib/RawSpeed/Debug-X64-x64
/libextern/wxWidgets-master
/libextern/LibRaw-0.20.0/.vs/LibRaw/v15
/Otherlib/RegardsRaw/internal/.deps
/Otherlib/RegardsRaw/src/.deps
/Otherlib/RegardsRaw/Release
/Otherlib/libFreeImage/Dist/x64
/Otherlib/libFreeImage/Source/FreeImageLib/x64
/Otherlib/libFreeImage/Source/LibJXR/Win32/Debug
/Otherlib/libFreeImage/Source/LibJXR/x64
/Otherlib/libFreeImage/Source/LibOpenJPEG/Win32/Debug
/Otherlib/libFreeImage/Source/LibOpenJPEG/x64
/libFiltreInterface/x64/Release
/libOpenCLEngine/x64/Release
/libPiccante/x64/Release
/libFiltreInterface/x64/Debug
/libOpenCLEngine/x64/Debug
/libOpenCLEngine/x64/Debug_windows10
/libextern/poppler_windows-master
/libextern/qpdf-master
/libextern/ffmpeg-master.old
