#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

libpath = Project/CMake
builddir = build/

override_dh_auto_configure:
	mkdir -p $(builddir)
	dh_auto_configure -D$(libpath) -B$(builddir)

override_dh_auto_build:
	cd Source/Doc && doxygen Doxyfile
	cp Source/Doc/*.html ./

	dh_auto_build -D$(libpath) -B$(builddir)

override_dh_auto_clean:
	dh_auto_clean -D$(libpath) -B$(builddir)
	rm -rf Doc/ *.html

override_dh_auto_install:
	dh_auto_install -D$(libpath) -B$(builddir)

override_dh_installdocs:
	dh_installdocs
	fromdos debian/*/usr/share/doc/*/*.txt

override_dh_makeshlibs:
	dh_makeshlibs -- -c4

override_dh_strip:
	dh_strip --dbg-package=libzen0v5-dbg

%:
	dh $@ --parallel
