Package: regardsviewer
Version: 3.01.0.0
Installed-Size: 532102
Maintainer: Figuinha Jacques <appt.jf@outlook.fr>
Section: graphics
Priority: optional
Architecture: amd64
Homepage: https://regardsviewer.tiiny.site/
Depends: libgl1, libglu1-mesa, libegl1, libwebkit2gtk-4.1-0, libsane1, libsdl2-2.0-0, libvdpau1
Description: RegardsViewer is a picture viewer and video player
 Regards is a modern photo viewer.
 Support highDPI definition screen.
 Support Exif and xmp file information.
 Support New Apple Photo format for IOS 11 HEIF multithreading and Exif.
 GPS information from Photo and Apple iPhone video.
 High quality display interpolation.
 OpenGL picture display and OpenCL post effects.
