<?xml?>
<Parameter>
	<ImageLibrary>
		<NumLibrary>1</NumLibrary>
		<OpenCLNumIndex>0</OpenCLNumIndex>
		<OpenCLPlatformName>Apple</OpenCLPlatformName>
	</ImageLibrary>
	<VideoLibrary>
		<NumLibrary>2</NumLibrary>
	</VideoLibrary>
	<EffectLibrary>
		<NumLibrary>1</NumLibrary>
		<NumEffect>0</NumEffect>
	</EffectLibrary>
	<Diaporama>
		<Time>3</Time>
		<Effect>0</Effect>
		<Fullscreen>1</Fullscreen>
	</Diaporama>
	<Geolocalisation>
		<Url>http://www.geoplugin.net</Url>
	</Geolocalisation>
	<Thumbnail>
		<Quality>1</Quality>
		<IconeCache>1</IconeCache>
	</Thumbnail>
</Parameter>

