<?xml?>
<Parameter>
	<Diaporama>
		<Fullscreen>1</Fullscreen>
		<Effect>1697146979</Effect>
		<Delai>3</Delai>
		<Forward>1</Forward>
	</Diaporama>
	<Window>
		<Thumbnail>1</Thumbnail>
		<VideoThumbnail>1</VideoThumbnail>
		<Infos>1</Infos>
		<Position>400</Position>
		<LastFolder/>
	</Window>
	<Position>
		<Window>
			<Left>0</Left>
			<Right>800</Right>
			<Bottom>800</Bottom>
			<Top>0</Top>
		</Window>
	</Position>
</Parameter>

