<?xml?>
<Parameter>
	<WindowSplitter>
		<FolderCriteria>
			<Folder>1</Folder>
			<Position>200</Position>
		</FolderCriteria>
		<PreviewThumbnail>
			<ShowPreview>1</ShowPreview>
			<Position>200</Position>
		</PreviewThumbnail>
		<PreviewInfos>
			<ShowInfos>1</ShowInfos>
			<Position>200</Position>
		</PreviewInfos>
		<FolderCriteriaPreviewThumbnail>
			<Position>400</Position>
		</FolderCriteriaPreviewThumbnail>
	</WindowSplitter>
	<Position>
		<Window>
			<Left>0</Left>
			<Right>800</Right>
			<Bottom>0</Bottom>
			<Top>800</Top>
		</Window>
	</Position>
	<ProgramExtern>
		<Viewer>RegardsViewer.exe</Viewer>
		<Shop>RegardsShop64.exe</Shop>
	</ProgramExtern>
	<Preview>
		<Effect>0</Effect>
	</Preview>
	<Criteria>
		<Value/>
		<TriangleValue/>
	</Criteria>
</Parameter>

